* {
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 30px;
}
.nav-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav-title img {
  margin-right: 20px;
  height: 40px;
}
.nav-title h2 {
  color: #ff42a5;
  font-size: 2.8rem;
  font-weight: 700;
}
.amer {
  color: #0b0223;
}
.nav-section ul {
  display: flex;

  align-items: center;
}
.nav-section a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.nav-section li {
  list-style: none;
  margin-left: 20px;
}
.follow {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 240px;
  height: 56px;
  justify-content: center;

  margin-left: 25px;
  align-items: center;
}

.media-icon {
  width: 30px;
  height: 27px;
  margin-left: 15px;
}
/* feature-section */
.feature {
  display: flex;
  justify-content: space-between;
}
.feature-title {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );

  width: 901px;
}
.feature-heading h3 {
  color: #0b0223;

  font-size: 3rem;
  font-weight: 600;
}
.feature-heading {
  margin-top: 140px;
  margin-left: 240px;
}
.feature-heading h1 {
  font-size: 5.9rem;

  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-icon {
  width: 24px;
  height: 24px;
}
.feature-content {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  align-items: center;
  margin-left: 240px;
}
.feature-button a {
  text-decoration: none;
  color: #fff;
}
.feature-button {
  margin-top: 40px;
  margin-left: 240px;
}
.primary-button {
  padding: 21px 40px;

  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  border: none;
}
.rough-button {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  margin-left: 10px;
}
/* responsive   for 576px phone */
@media screen and (max-width: 576px) {
  /*   responsive nav */
  nav {
    flex-direction: column;

    padding: 50px;
    background: #fff;
    box-shadow: none;
  }
  .nav-title {
    margin-top: 30px;
  }

  .nav-section ul {
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    gap: 25px;
  }
  .follow {
    margin-top: 30px;
  }
  .nav-section {
    margin-right: 110px;
  }
  /* feature-section */
  .feature {
    flex-direction: column-reverse;
  }
  .feature-images {
    width: 80%;
    margin: 0px auto;
  }
  .feature-images img {
    width: 100%;
  }
  .feature-title {
    width: 80%;
    margin: 20px auto;
   
   
  }
  .feature-heading {
    margin: 20px ;
  }
  .feature-content {
    margin: 20px;
  }
  .feature-button {
    margin: 20px;
  }
  .feature-heading h1{
    font-size: 2.8rem;
  }
  .feature-heading h3{
    font-size: 1.5rem;
  }
  .feature-button{
    display: flex;
    flex-direction: row;
   margin-top: 30px;
   
    gap: 10px;
  }
  .feature-button button{
    font-size: 1rem;
     border-radius: 20px;
     padding:20px 25px;
  }
}
/* responsive   for 576-992px pad*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 30px;
  }
  .nav-section ul {
    gap: 50px;
  }
}
