* {
  margin: 0px;
}
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 30px;
}
.nav-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav-title img {
  margin-right: 20px;
  height: 40px;
}
.nav-title h2 {
  color: #ff42a5;
  font-size: 2.8rem;
  font-weight: 700;
}
.amer {
  color: #0b0223;
}
.nav-section ul {
  display: flex;

  align-items: center;
}
.nav-section a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.nav-section li {
  list-style: none;
  margin-left: 20px;
}
.follow {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 240px;
  height: 56px;
  justify-content: center;

  margin-left: 25px;
  align-items: center;
}

.media-icon {
  width: 30px;
  height: 27px;
  margin-left: 15px;
}
/* responsive   for 576px phone */
@media screen and (max-width: 576px) {
  /*   responsive nav */
  nav {
    flex-direction: column;

    padding: 50px;
  }
  .nav-title {
    margin-top: 30px;
  }

  .nav-section ul {
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    gap: 25px;
  }
  .follow {
    margin-top: 30px;
  }
  .nav-section {
    margin-right: 110px;
  }
}
/* responsive   for 576-992px pad*/
@media screen and (min-width: 576px) and (max-width: 992px) {
}
